.butn {
    background-color: rgb(27, 61, 211);
    /* margin: 1%; */
    border-radius: 5px;
    width: 15%;
    /* padding: -20px; */
    /* height: 110%; */
}

.butn h3 {
    color: white;
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 600px) {
    .butn {
        background-color: rgb(27, 61, 211);
        /* margin: 1%; */
        border-radius: 5px;
        width: 70%;
        /* padding: -20px; */
        /* height: 110%; */
    }

}