.Cards {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 10%;
}

.Cardp {
    width: 80%;
}

.Card {
    background-color: rgb(20, 95, 192);
    /* width: 20%; */
    /* border-bottom-left-radius: 15px;
    border-top-left-radius: 20px; */
}

.Card1 {
    background-color: rgb(9, 23, 218);
    /* width: 20%; */
}

.Card2 {
    background-color: rgb(20, 95, 192);
    /* width: 20%; */
}

.Card3 {
    background-color: rgb(9, 23, 218);
    /* width: 20%; */
    /* border-bottom-right-radius: 15px;
    border-top-right-radius: 20px; */
}

.logo {
    width: 30%;
    margin-top: 8%;
}

.Cardh1 {
    align-content: center;
    align-items: center;
}

.gridcontainer {
    display: grid;
    /* column-gap: 5%; */
    grid-template-columns: auto auto auto auto;
    margin-inline: 25%;
}


@media screen and (max-width: 992px) {
    .grid-item {
        width: 100%;
    }

    .gridcontainer {
        display: grid;
        /* column-gap: 5%; */
        grid-template-columns: auto auto auto auto;
        margin-inline: 25%;
    }
}

@media screen and (max-width: 600px) {
    .grid-item {
        width: 100%;
    }

    .gridcontainer {
        display: grid;
        /* column-gap: 5%; */
        grid-template-columns: auto;
        margin-inline: 25%;
    }

}