.Cardone {
    display: grid;
    margin-left: 20%;
}

.cardone {
    background-color: rgb(65, 134, 224);
    width: 65%;
    border-radius: 20px;
    /* height: 220px; */
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    /* align-self: center; */
    /* margin-bottom: 5%; */
}

.cardtext {
    width: 75%;
    text-align: left;
    margin-left: 6%;
}

.Card11 {
    background-color: rgb(9, 23, 218);
    width: 20%;
    border-radius: 20px;
}

.logoOne {
    /* margin-left: 0%; */
    margin-top: 100%;
    /* background-color: azure; */
    border-radius: 10px;
    height: 20%;
    /* width: -1%; */
}

.Cardoneh1 {
    color: white;
}

.Buttonone {
    border-radius: 5px;
    /* height: 18%; */
    /* width: 25%; */
    margin-bottom: 10%;
    padding: 3%;
    color: blue;
}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 600px) {
    .Buttonone {
        border-radius: 5px;
        /* height: 18%; */
        /* width: 25%; */
        margin-bottom: 15%;
        padding: 3%;
        color: blue;
    }
}